
/* General Styles (App.css) */
@import './Menu.css';
@import './OrderForm.css';
@import './FinalizedOrders.css';
@import './SearchOrders.css';
@import './Header.css';
@import './Receipt.css';

.App {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  padding: 20px 30px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-column,
.right-column {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.left-column {
  flex: 2;
  max-height: 80vh;
  overflow-y: auto;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
